*{
transition: all ease 0.9s;
}
body{
    background-image: url(/img/body_bg.png);
    margin: 0;
    padding: 0;
}
.container {
   display: grid;
   grid-template-columns: repeat(3, 25pc);
   row-gap: 1pc;
   justify-items: center;
   justify-content: center;
}
.nav {
    background-color: #232323;
    margin: 1pc;
    margin-bottom: 1pc;
    justify-content: space-between;
    padding: 0 1pc;
    height: 5pc;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.nav ul {
    list-style: none;    
}
.nav ul li a {
    text-decoration: none;
    color: white;
}
.card {
    width: 19pc;
    background-color: #232323;
    

}
.number {
    position: relative;
    height: 14pc;
    width: 100%;
    background-color: white;
    font-family: fantasy;
    opacity: 0.09;
    text-align: center;
    font-size: 6pc;
}
.imagen {
    width: 13pc;
    position: absolute;
    top: 40px;
    left: 16%;
}
.card:hover{
    background-color: #616161;
}
.card:hover .number{
    opacity: 1;
    font-size: 8pc;

}
.card:hover .imagen{
    width: 16pc;
    top: -9;
    left: 8%;
}
.containerInfo{
    padding: 0 1pc;
    font-family: monospace;
    font-size: 1pc;
}
.centrar{
    display: flex;
    align-items: center;
    border-radius: 6px;
}
.border {
    padding: 0 1pc;
    font-family: fantasy;
    color: white;
    align-items: center;
    gap: 7px;
}
.borderRa{
    border-radius: 10px;
}
.more {
    padding: 0 1pc;
    font-family: fantasy;
    color: white;
    align-items: center;
    gap: 7px;
}
.more div {
    width: 2pc;

}
.more img {
    width: 2pc;

}
.more:hover img {
    rotate: 1deg;
    animation: rotate 0.01s linear;

}
.slider {
    display: flex;
    align-items: center;
    justify-content: center;
       
}
.slider-container{
    display: flex; 
    width: 91%;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    padding: 0 31pc;
 
}
.slider-hijos {
    flex: 0 0 115%;
    width: 100%;
    object-fit: cover;
    margin: 1pc;  
    scroll-snap-align: center;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
.slider-container::-webkit-scrollbar {
    height: 1pc;
}

.slider-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #232323;
}
.anuncio {
    width: 15pc;
    text-align: center;
    font-family: fantasy;
    color: white;
}
@media screen and (max-width: 950px) {
    .container{
    grid-template-columns: repeat(1, 20pc); }
    
}

@media screen and (max-width: 850px) {
    .container {

        grid-template-columns: repeat(1, 25pc);
    }
    .slider-container {
        padding: 0px 4pc;
    }
}